<!DOCTYPE html>
<html class="blue">
<head> <% include ./head %> </head>
<body>
<% include ./header %>

    <a class="btn" href="/additem">Add New Item</a>

    <div class="card">

    <table class="highlight">
        <tr>
            <th>Song Name</th><th> Artist Name</th><th>genre</th><th>year made</th><th>link</th><th>Action</th>
        </tr>

        <% items.forEach(function(item){  %>
        <tr>


            <td>  <%=item.songname%> </td>
            <td><%=item.artistname%></td>
            <td><%=item.genre%></td>
            <td><%=item.yearmade%></td>
            <td><a href=<%=item.link%> target="opensesame"> song URL </a></td>
            <td>
               <i class="material-icons">delete</i>
                <i class="material-icons">favorite</i>
            </td>
        </tr>



        <% }) %>
    </table>

    </div>

<% include ./footer %>
</body>
</html>
